<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Orbyt</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
    <header>
        <div class="dashboard-link">
            <a href="dashboard.html">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="logout">
            <button>Cerrar Sesión</button>
        </div>
    </header>

    <main>
        <div class="profile-container">
            
            <form action="#" method="post">
                <h1>Perfil</h1>
                <div class="inputbox">
                    <input type="text" id="nombre" name="nombre" autocomplete="off" required>
                    <label for="nombre">Nombre</label>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" id="apellido" name="apellido" autocomplete="off" required>
                    <label for="apellido">Apellido</label>
                    <i></i>
                </div>
                
                <div class="inputbox">
                    <input type="text" id="username" name="username" autocomplete="off" required>
                    <label for="username">Nombre de Usuario</label>
                    <i></i>
                </div>
                
                <div class="inputbox">
                    <input type="email" id="correo" name="correo" required>
                    <label for="correo">Correo</label>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="date" id="fecha" name="fecha" required>
                    <label for="fecha">Fecha de Nacimiento</label>
                    <i></i>
                </div>
                

                <button type="submit">Actualizar</button>
            </form>
        </div>
    </main>
</body>
</html>
