<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbyt Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <header>
        <div class="bienvenida">Bienvenido Usuario</div>
        <div class="botones">
            <a href="/perfil">
                <button>Perfil</button>
            </a>
            <button id="logoutButton">Cerrar Sesión</button>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="estudios">
                <a href="/estudio">
                    <button>Herramientas de Estudios</button>
                </a>
            </div>
            <div class="economia">
                <a href="economia.html">
                    <button>Organizacion Economica</button>
                </a>
            </div>
        </div>
        <div class="sidebar">
            <h2>Notas</h2>
            <div id="ultimasNotas"></div> <!-- Div para mostrar las últimas 3 notas -->
            <a href="/notes" class="ver-mas-notas">Ver más notas...</a>
        </div>
    </main>
    <script>
        document.getElementById('logoutButton').addEventListener('click', function () {
            fetch('/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/iniciosesion';
                    } else {
                        alert('Error al cerrar sesión');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        // Fetch and display the last 3 notes
        const fetchUltimasNotas = async () => {
            const response = await fetch('/api/notes/ultimas');
            if (response.ok) {
                const notas = await response.json();
                const ultimasNotasDiv = document.getElementById('ultimasNotas');
                ultimasNotasDiv.innerHTML = '';
                notas.forEach(nota => {
                    const notaElement = document.createElement('div');
                    notaElement.classList.add('nota');
                    notaElement.innerHTML = `
                        <h3>${nota.titulo}</h3>
                        <p>${nota.contenido}</p>
                    `;
                    ultimasNotasDiv.appendChild(notaElement);
                });
            } else {
                console.error('Error fetching notes:', response.statusText);
            }
        };

        // Initial fetch
        fetchUltimasNotas();
    </script>
</body>

</html>