<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbyt Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <header>
        <div class="bienvenida">Bienvenido Usuario</div>
        <div class="botones">
            <a href="/perfil">
                <button>Perfil</button>
            </a>
            <button id="logoutButton">Cerrar Sesión</button>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="estudios">
                <a href="/estudio">
                    <button>Herramientas de Estudios</button>
                </a>
            </div>
            <div class="economia">
                <a href="economia.html">
                    <button>Organizacion Economica</button>
                </a>
            </div>
        </div>
        <div class="sidebar">
            <h2>Notas</h2>
            <!-- Aquí iria el codigo para que parezcan las notas de las personas, ni idea como sera eso -->
            <a href="/notes" class="ver-mas-notas">Ver más notas...</a>
        </div>
    </main>
    <script>
        document.getElementById('logoutButton').addEventListener('click', function () {
            fetch('/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/iniciosesion';
                    } else {
                        alert('Error al cerrar sesión');
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>

</html>