<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas - Orbyt</title>
    <link rel="stylesheet" href="../css/finanzas.css">
</head>

<body>
    <header>
        <div class="dashboard-link">
            <a href="/dashboard">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="bienvenida">Orbyt - Modulo de Finanzas</div>
    </header>
    <main>
        <!-- Botones para agregar sueldo base, ingresos y gastos -->
        <div class="controls-container">
            <button id="setBaseSalaryBtn" class="set-base-salary-btn" data-target="modalSueldoBase" style="position: absolute; top: 50%; left: 50%;">Ingresar Sueldo
                Base</button>
            <button id="addIncomeBtn" class="add-income-btn" data-target="modalIngresos">Agregar Ingreso</button>
            <button id="addExpenseBtn" class="add-expense-btn" data-target="modalGastos">Agregar Gasto</button>
        </div>
        <div class="salary-display">
            <h2>Sueldo Mensual: <span id="sueldoMensual">0</span></h2>
        </div>
        <canvas id="myChart" height="300px" width="300px"></canvas>

        <!-- Modal para ingresar sueldo base -->
        <div id="modalSueldoBase" class="modal">
            <div class="modal-content">
                <div class="modal-header">Ingresar Sueldo Base</div>
                <div class="modal-body">
                    <p>Ingresa tu sueldo base mensual.</p>
                    <form id="formSueldoBase">
                        <label for="sueldoBase">Sueldo Base:</label>
                        <input type="number" id="sueldoBase" required>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="modal-close">Cerrar</button>
                </div>
            </div>
        </div>

        <!-- Modal para agregar ingresos -->
        <div id="modalIngresos" class="modal">
            <div class="modal-content">
                <div class="modal-header">Agregar Ingreso</div>
                <div class="modal-body">
                    <p>Registra aquí tus ingresos adicionales.</p>
                    <form id="formIngresos">
                        <label for="montoIngreso">Monto:</label>
                        <input type="number" id="montoIngreso" required>
                        <label for="categoriaIngreso">Categoría:</label>
                        <input type="text" id="categoriaIngreso" required>
                        <label for="descripcionIngreso">Descripción:</label>
                        <input type="text" id="descripcionIngreso" required>
                        <button type="submit">Agregar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="modal-close">Cerrar</button>
                </div>
            </div>
        </div>

        <!-- Modal para agregar gastos -->
        <div id="modalGastos" class="modal">
            <div class="modal-content">
                <div class="modal-header">Agregar Gasto</div>
                <div class="modal-body">
                    <p>Registra aquí tus gastos.</p>
                    <form id="formGastos">
                        <label for="montoGasto">Monto:</label>
                        <input type="number" id="montoGasto" required>
                        <label for="categoriaGasto">Categoría:</label>
                        <input type="text" id="categoriaGasto" required>
                        <label for="descripcionGasto">Descripción:</label>
                        <input type="text" id="descripcionGasto" required>
                        <button type="submit">Agregar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="modal-close">Cerrar</button>
                </div>
            </div>
        </div>
    </main>
    <script src="../js/finanzas.js"></script>
</body>

</html>