<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Orbyt</title>
    <link rel="stylesheet" href="../css/notas.css">
</head>
<body>
    <header>
        <div class="dashboard-link">
            <a href="/dashboard">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="bienvenida">Usuario - Modulo de Notas</div>
        <div class="botones">
            <a href="perfil.html">
                <button>Perfil</button>
            </a>
            <button>Cerrar Sesión</button>
        </div>
    </header>
    <button id="addNoteBtn">Agregar una nota</button>
    <div id="notesContainer"></div>

    <script src="script.js"></script>
    <p>Hola</p>
</body>
</html>