<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Orbyt</title>
    <link rel="stylesheet" href="../css/notas.css">
</head>
<body>
    <header>
        <div class="dashboard-link">
            <a href="/dashboard">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="bienvenida">Orbyt - Modulo de Notas</div>
    </header>
    <main>
        <button id="addNoteBtn" data-target="AgregarNotas">Agregar una nota</button>
        <div id="notesContainer"></div>


        <div id="AgregarNotas" class="modal">
            <div class="modal-content">
                <div class="modal-header">Agregar Nota</div>
                <div class="modal-body">
                    <p>Escribe aqui todo lo que no quieras olvidar, te recordaremos siempre que podamos :) </p>
                    <form id="formAgregarNotas">
                        <label for="nombreNota">Nombre:</label>
                        <input type="text" id="nombreNota" name="nombreNota" required>
                        
                        <label for="descripcionNota">Descripción:</label>
                        <input type="text" id="descripcionNota" name="descripcionNota" rows="3" required></input>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
                <button class="modal-close">Cerrar</button>
            </div>
        </div>
        <p>Hola</p>
    </main>
    <script src="../js/notes.js"></script>
</body>
</html>