<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Orbyt</title>
    <link rel="stylesheet" href="../css/notas.css">
</head>
<body>
    <header>
        <div class="dashboard-link">
            <a href="/dashboard">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="bienvenida">Orbyt - Modulo de Notas</div>
    </header>
    <main>
        <button id="addNoteBtn" data-target="AgregarNotas">Agregar una nota</button>
        <div id="notesContainer"></div>

        <!-- Modal para agregar notas -->
        <div id="AgregarNotas" class="modal">
            <div class="modal-content">
                <div class="modal-header">Agregar Nota</div>
                <div class="modal-body">
                    <p>Escribe aqui todo lo que no quieras olvidar, te recordaremos siempre que podamos :) </p>
                    <form id="formAgregarNotas">
                        <label for="nombreNota">Nombre:</label>
                        <input type="text" id="nombreNota" name="nombreNota" required>
                        
                        <label for="descripcionNota">Descripción:</label>
                        <textarea id="descripcionNota" name="descripcionNota" rows="3" required></textarea>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
                <button class="modal-close">Cerrar</button>
            </div>
        </div>

        <!-- Modal para editar notas -->
        <div id="EditarNotas" class="modal">
            <div class="modal-content">
                <div class="modal-header">Editar Nota</div>
                <div class="modal-body">
                    <form id="formEditarNotas">
                        <input type="hidden" id="editNotaId" name="editNotaId">
                        <label for="editNombreNota">Nombre:</label>
                        <input type="text" id="editNombreNota" name="editNombreNota" required>
                        
                        <label for="editDescripcionNota">Descripción:</label>
                        <textarea id="editDescripcionNota" name="editDescripcionNota" rows="3" required></textarea>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
                <button class="modal-close">Cerrar</button>
            </div>
        </div>
    </main>
    <script src="../js/notes.js"></script>
</body>
</html>