<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Orbyt</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>

<body>
    <header>
        <div class="dashboard-link">
            <a href="/dashboard">
                <span class="back-arrow">&#8592;</span> Dashboard
            </a>
        </div>
        <div class="nombre">Orbyt</div>
    </header>

    <main>
        <div class="profile-container">

            <form id="profileForm">
                <h1>Perfil</h1>
                <div class="inputbox">
                    <input type="text" id="nombre" name="nombre" autocomplete="off" required>
                    <label for="nombre">Nombre</label>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" id="apellido" name="apellido" autocomplete="off" required>
                    <label for="apellido">Apellido</label>
                    <i></i>
                </div>

                <div class="inputbox">
                    <input type="text" id="correo" name="username" required>
                    <label for="correo">Correo</label>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="password" id="password" name="password" >
                    <label for="password">Contraseña</label>
                    <i></i>
                </div>

                <button type="submit">Actualizar</button>
            </form>
        </div>
        <div class="toast">
            <div class="toast-content">
                <i class="fas fa-solid fa-check check"></i>
                <div class="message">
                    <span class="text text-1">Success</span>
                    <span class="text text-2">Your changes have been saved</span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>
            <div class="progress"></div>
        </div>
    </main>
    <script src="../js/profile.js"></script>
</body>

</html>