<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="nombre">Orbyt</div>
    </header>
    <div class="box">
        <form id="registerForm">
            <h2>Registro</h2>
            <div class="inputbox">
                <input type="text" name="nombres" autocomplete="off" required>
                <span>Nombres</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="apellidos" autocomplete="off" required>
                <span>Apellidos</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="date" name="fechaNacimiento" autocomplete="off" required>
                <span>Fecha de nacimiento</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="username" autocomplete="off" required>
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" name="password" autocomplete="off" required>
                <span>Contraseña</span>
                <i></i>
            </div>
            <input type="submit" value="Registrar">
            <div class="link">
                <a href="/iniciosesion">Iniciar Sesion</a>
            </div>
        </form>
    </div>
    <script src="../js/register.js"></script>
</body>

</html>