* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #360e8e;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%; 
}

header .bienvenida {
    font-size: 24px;
}

header .botones a {
    text-decoration: none;
}

header .botones button {
    background: linear-gradient(135deg, #360e8e, #9B6DAB);
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .botones button:hover {
    background-color: #0066cc;
    transform: scale(1.1);
}

main {
    display: flex;
    flex: 1;
    flex-direction: row-reverse; 
    background: #6D5ACF
}

.sidebar {
    flex: 1;
    border-right: 2px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #001f3f;
}

.content {
    flex: 5;
    padding: 20px;
    display: flex;
    justify-content: space-evenly; 
    gap: 10px;  
}

.content .estudios,
.content .economia {
    width: 40%;
    height: 500px;
    border-radius: 15px;
    margin-top: 35px;
    padding: 20px;
    background-color: #f0e6ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content .estudios:hover,
.content .economia:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
}

.content .estudios {
    background-color: #9258ea;
    border: 3px solid #460ba1;
}

.content .economia {
    background-color: #6a25d5;
    border: 3px solid #27045e;
}

.content .estudios button,
.content .economia button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 35px; 
    margin-bottom: 20px;  
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block;  
    margin-left: auto; 
    margin-right: auto; 
}

.content .estudios button{
    background-color: #460ba1;
}
.content .estudios a{
    text-decoration: none;
}

.content .economia button{
    background-color: #27045e;
}
.content .economia a{
    text-decoration: none;
}

.content .estudios button:hover{
    background-color: #6a25d5;
    transform: scale(1.1);
}
.content .economia button:hover {
    background-color: #9258ea;
    transform: scale(1.1);
}

.ver-mas-notas {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #666; /* Gris oscuro */
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.ver-mas-notas:hover {
    color: #333; /* Un poco más oscuro al pasar el mouse */
}
.nota {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nota h3 {
    margin: 0 0 5px 0;
}

.nota p {
    margin: 0;
}
.nota,
.tarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nota h3,
.tarea h3 {
    margin: 0 0 5px 0;
}

.nota p,
.tarea p {
    margin: 0;
}