* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #360e8e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

header .dashboard-link a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

header .dashboard-link .back-arrow {
    font-size: 24px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

header .dashboard-link:hover a {
    font-size: 20px;
}

header .dashboard-link:hover .back-arrow {
    transform: scale(1.2);
}

header .bienvenida {
    color: #A6E4E7;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-align: center;
    margin: auto;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    background: #6D5ACF;
}

.content {
    flex: 5;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

/* Estilos generales */
.content .estudios,
.content .economia,
.content .horarios {
    width: 30%;
    height: 400px;
    border-radius: 15px;
    margin-top: 35px;
    padding: 20px;
    background-color: #f0e6ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content .estudios:hover,
.content .economia:hover,
.content .horarios:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.content h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.content .estudios {
    background-color: #ac7cf6;
    border: 3px solid #5913c6;
    color: #ffff;
}

.content .economia {
    background-color: #6a25d5;
    border: 3px solid #27045e;
    color: #ffff;
}

.content .horarios {
    background-color: #9258ea;
    border: 3px solid #460ba1;
    color: #ffff;
}

.content button {
    background-color: #7d48c6 ;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content button:hover {
    background-color: #9965e9;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra extra */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    color: #fff;
    background-color: #2b005c;
    padding: 20px;
    border: solid #5a00c0;
    border-radius: 15px;
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: flex-start;
}

#modalGestionarTareas input[type="text"],
#modalGestionarTareas input[type="time"],
#modalGestionarTareas select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
}

#fechaEntrega{
    width: 80%;
    margin: auto;
}


#modalmodificarEvento input[type="text"],
#modalmodificarEvento input[type="time"],
#modalmodificarEvento select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 50%;
}

button[type="submit"]:hover {
    background-color: #56e414;
    transform: scale(1.1);
}

.modal-header {
    font-size: 26px; /* Aumento en tamaño */
    margin-bottom: 20px;
    text-align: center;
}

.modal-body {
    margin-bottom: 15px;
}

.modal-body p {
    font-size: 18px; /* Aumento en tamaño */
    margin-bottom: 20px;
    text-transform: uppercase;
}

.modal-close {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.2s ease;
    width: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.modal-close:hover {
    background-color: #cc0000;
    transform: scale(1.1);
    opacity: 0.9;
}

.tipoEvento {
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

input, select, button {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: 16px;
    margin-bottom: 1px;
}

.eliminar-tarea {
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.eliminar-tarea:hover {
    background-color: darkred;
}

#tablaTareas {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    margin-top: 20px; 
}

#tablaTareas th, #tablaTareas td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#tablaTareas td {
    vertical-align: middle; 
}

#tablaTareas th {
    background-color: #9600d1;
    color: white;
    font-weight: bold;
}

#tablaHorarios {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    margin-top: 20px;
}

#tablaHorarios th, #tablaHorarios td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#tablaHorarios td {
    vertical-align: middle;
}

#tablaHorarios th {
    background-color: #9600d1; /* Color diferente para destacar la tabla */
    color: white;
    font-weight: bold;
}

/* Tabla para los eventos */
#tablaEventos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    margin-top: 20px;
}

#tablaEventos th, #tablaEventos td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#tablaEventos td {
    vertical-align: middle;
}

#tablaEventos th {
    background-color: #9600d1;
    color: white;
    font-weight: bold;
}

/* Estilo para las filas en las tablas de horarios y eventos */
#tablaHorarios tr:hover,
#tablaEventos tr:hover {
    cursor: pointer;
}

#tablaHorarios td button,
#tablaEventos td button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

#tablaHorarios td button:hover,
#tablaEventos td button:hover {
    background-color: darkred;
}

#modalAgregarAsignatura .modal-header {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

#modalAgregarAsignatura form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: flex-start;
}

#modalAgregarAsignatura input[type="text"],
#modalAgregarAsignatura input[type="time"],
#modalAgregarAsignatura select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
}

#modalAgregarAsignatura button[type="submit"] {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#modalAgregarAsignatura button[type="submit"]:hover {
    background-color: #56e414;
    transform: scale(1.1);
}

/* Estilo de la tabla de horarios */
#tablaHorarios {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 20px;
}

#tablaHorarios th, #tablaHorarios td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#tablaHorarios td {
    vertical-align: middle;
}

#tablaHorarios th {
    background-color: #9600d1;
    color: white;
    font-weight: bold;
}

#tablaHorarios tr:hover {
    background-color: #9600d1; 
    cursor: pointer;
}

#tablaHorarios td button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

#tablaHorarios td button:hover {
    background-color: darkred;
}

#tablaTareas tr:hover {
    background-color: #9600d1;
    cursor: pointer;
}

#tablaEventos tr:hover {
    background-color: #9600d1;
    cursor: pointer;
}
